html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header */
.container-headder {
    font-style: italic;
    border-bottom: 2px solid grey;
    padding-bottom: 2rem;
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(19, 19, 19);
    font-weight: 100;
    text-align: left;
    margin: 5rem 0rem;
}

/* Client Section */
.client-list {
    padding: 50px 0;
}

.client-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.client {
    border: 2px solid rgb(168, 167, 167);
    padding: 40px;
    text-align: center;
}

.client:hover {
    background-color: white;
}

.client img {
    width: 100%;
    height: 200px; /* Consistent height for all images */
    object-fit: cover; /* Ensure images are scaled properly */
    transition: filter 0.3s ease; /* Smooth transition to color */
}

.client:hover img {
    filter: grayscale(0%); /* Change to color on hover */
}


@media (max-width: 400px) {
    .container-headder{
        margin: 3rem 0rem;
        padding-bottom: 1rem;
    }
}