.navbar {
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo a {
    text-decoration: none;
    color: black;
}

.navbar-bethany {
    color: black;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.navbar-links {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 18px;
    padding: 0;
    list-style-type: none;
}

.navbar-links ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: rgb(91, 88, 88);
}

.navbar-links a:hover {
    transition: all 0.6s ease-in-out;
    font-weight: 500;
    color: black;
}

.navbar-portfolio-button {
    text-decoration: none;
    padding: 5px 20px;
    height: 46px;
    border-bottom: 2px solid black;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar-portfolio-button:hover {
    background-color: black;
    color: white;
}

/* Overlay Styling */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: height 0.5s ease;
    z-index: 1000;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    padding: 15px;
    font-size: 36px;
    color: white;
    display: block;
    text-decoration: none;
}

.overlay-content a:hover, .closebtn:hover {
    color: #ccc;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 40px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}




@media (max-width: 768px) {
    .navbar {
        height: 80px;
        grid-template-columns: 1fr 1fr;
        padding-left: auto;
    }

    .navbar-bethany{
        font-size: 30px;
    }

    .navbar-links, .navbar-portfolio-button {
        display: none;
    }

    .hamburger {
        display: block;
    }
}
